<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.nullv.dao.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.nullv.pojo.Dictionary" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dic_key" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="dic_value" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="field_name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="table_name" jdbcType="VARCHAR" javaType="java.lang.String" />
    </constructor>
  </resultMap>
  <sql id="Base_Column_List" >
    id, dic_key, dic_value, field_name, table_name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.nullv.pojo.Dictionary" >
    insert into t_dictionary (id, dic_key, dic_value, 
      field_name, table_name)
    values (#{id,jdbcType=INTEGER}, #{dicKey,jdbcType=INTEGER}, #{dicValue,jdbcType=VARCHAR}, 
      #{fieldName,jdbcType=VARCHAR}, #{tableName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nullv.pojo.Dictionary" >
    insert into t_dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dicKey != null" >
        dic_key,
      </if>
      <if test="dicValue != null" >
        dic_value,
      </if>
      <if test="fieldName != null" >
        field_name,
      </if>
      <if test="tableName != null" >
        table_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dicKey != null" >
        #{dicKey,jdbcType=INTEGER},
      </if>
      <if test="dicValue != null" >
        #{dicValue,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null" >
        #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        #{tableName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.nullv.pojo.Dictionary" >
    update t_dictionary
    <set >
      <if test="dicKey != null" >
        dic_key = #{dicKey,jdbcType=INTEGER},
      </if>
      <if test="dicValue != null" >
        dic_value = #{dicValue,jdbcType=VARCHAR},
      </if>
      <if test="fieldName != null" >
        field_name = #{fieldName,jdbcType=VARCHAR},
      </if>
      <if test="tableName != null" >
        table_name = #{tableName,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nullv.pojo.Dictionary" >
    update t_dictionary
    set dic_key = #{dicKey,jdbcType=INTEGER},
      dic_value = #{dicValue,jdbcType=VARCHAR},
      field_name = #{fieldName,jdbcType=VARCHAR},
      table_name = #{tableName,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>